//variables de style
$colorPrimary : #001c39;
$colorPrimary2:rgb(10, 187, 231); // rgb(247, 164, 10)
$colorTreciario : rgb(228, 27, 27);
$colorSombra :#c5c3c3;
$colorSombra2:rgb(10, 93, 175);
$white : rgb(255 255 255);
$black : rgb( 0 0 0);

$fontsecundary : 'Roboto', sans-serif;
$fontPrimary: 'Bull VF', Helvetica, sans-serif;

$txtP : 1.2rem;
$txtM : 1.3rem;
$txtG : 1.5rem;

$textoP : 12px;
$textoM : 16px;
$textoG : 24px;
$textoXl : 28px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 62.5%;
    list-style: none;
    color:rgb(255, 255, 255);

}

header nav figure:first-child button{
    display: none ;
}


a{
    font-size: $textoM;
    font-family: $fontPrimary;
    text-decoration: none;
    font-weight: 400;
    color: $colorPrimary2;
}


h1,h2,h2,h4,h5,h6{
    font-family:$fontPrimary;
    letter-spacing: .1em;
}

p{
    font-family: $fontsecundary;
}

a:hover{
    color:$colorSombra;
}



body{
    background-color:$colorPrimary;
}

header{
    align-items: center;
    position: relative;

    ul{
        padding: 0px;
        font-family: $fontPrimary;
        text-align: center;


        li{
            margin: 5px auto;
            display: table;
            font-size: $txtP;
            padding: 8px 10px;
            font-weight: 300;
            cursor: pointer;
            transition: all 0.40s ease;
            border-bottom: 2px solid $colorPrimary2;

        }

        li:hover{
            border-radius: 5px 15px;
            transform: scale(1.1);
            background-color: $colorSombra2;
            translate: 10px 0px;
        }
    }

    .menHamn{
        background-color: $colorPrimary !important;

        i{
            font-size: 2rem;
        }
    }



}

.container_main_aside{
    margin: 0px auto;
}

.container_main{

    &_img_banner{
        position: relative;
        display: flex;
        height: 35rem;

        img{
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
        }

        .arrows{
            position: absolute;
            bottom: 15px;
            right: 15px;

            i{
                cursor: pointer;
                padding: 8px;
                background-color: $colorPrimary2;
                border-radius: 5px;
                border: 1px solid $colorPrimary2;
                transition: all .30s ease-in-out;
            }

        }
    }

    i:hover{
        background-color: transparent;

    }
    section:nth-child(2){
        margin-top: 50px;
    }

    &_notice{
        margin-bottom: 20px;

        div:first-child{
            position: relative;
        }

        img{
            height: 55vh;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        span{
            position: absolute;
            right: 10px;
            top: 10px;
            font-weight: 700;
            color: $white;
        }

        h3{
            position: absolute;
            bottom: 0px;
            font-size: $textoG;
            padding: 0px 10px;
        }

        i{
            padding: 6px;
            cursor: pointer;
            background-color: $colorPrimary2;
            border-radius: 5px;
            border: 1px solid $colorPrimary2;
        }

        &_info{

            *{
            margin: 0px;
            padding: 0px;
            }

            img{
                height: 120px;
                object-fit: cover;
                border-radius: 5px;
            }

            article{
                margin-bottom:10px ;
            }

            div{
                padding: 0px 10px;
            }

            h3{
                font-size: $textoM;
                font-weight: 600;

            }

            p{
                font-size: $textoM;
                font-weight: 300;
            }
        }


    }

    &_category ul{
        border-bottom: 4px solid $colorPrimary2;
        padding: 0px;
        display: flex;

        a{
            font-size: $txtM;
        }

        li{
            padding: 10px 15px;
            cursor: pointer;
            transition: all .50s ease-in-out;
            font-size: $txtM;
            font-weight: 500;
        }

        li:first-child,
        li:hover{
            background-color: $colorPrimary2;
            border-radius: 5px 5px 0px 0px;
            transition: all .30s ease-in-out;
        }

        a{
            color: $white;
        }
    }

    &_category_img{

        div{
            position: relative;
        }

        img{
            object-fit: cover;
            border-radius: 20px;
        }

        span{
            position: absolute;
            right: 10px;
            top: 10px;
            font-weight: 700;
            color: $white;
        }

        h3{
            position: absolute;
            bottom: 0px;
            font-size: $textoM;
            padding: 0px 10px;
        }

        p{
            font-size: $textoP;
            font-weight: 400;
            color: $colorSombra;
            padding: 2px 5px;
        }

    }

}

.container_aside{

    img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
    }

    h3{
        font-size: $txtG;
        font-weight: 600;
        padding-left: 10px;
    }

    span{
        height: 3px;
        background: $colorPrimary2;
        display: block;
    }

    &_redes{
        padding: 20px 0px;

        ul{
            padding: 0px;

            li{
                font-size: $textoM;
                margin: 15px 0px;
            }
        }


        .bi{
            border-radius: 50%;
            padding: 3px 6px;
            color: $white;
        }

        .bi-facebook{
            background-color: rgb(17, 17, 241);

        }

        .bi-twitter{
            background-color: rgb(20, 97, 240);
        }

        .bi-youtube{
            background-color: rgb(245, 9, 9);
        }

        .bi-instagram{
            background-color: rgb(105, 48, 25);
        }

        .bi-pinterest{
            background-color: red;
        }

    }

    &_img img{
        height: 11rem;
    }

    img{
        border-radius: 20px;
        object-fit: cover;
    }


    .ulAside{
        padding: 0px;
        border-bottom: 4px solid $colorPrimary2;


        .liAside{
            color: $white;;
            background-color: $colorPrimary2;
            font-size: $txtM;
            padding: 5px 15px;
            font-weight: 500;
            font-style: italic;
            display: table;

        }
    }

    h4{
        font-size: $txtP;
        font-weight: 600;
    }

    p{
        color: $colorSombra;
    }

}

.banner{
    text-align: center;
    margin: 10px auto;

    img{
        border-radius: 20px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }


}

footer{
    padding: 20px 0px 0px;
    background-color: #00162b;

    *{
        padding: 0px;
        margin: 0px;
    }

    h5{
        margin-bottom: 15px;
    }

    .notices{

        .imgFooter img{
            height: 100% ;
            object-fit: cover;
        }

        h3{
            font-size: $textoM;
            font-weight:600;
        }

        p{
            color: $colorSombra;
            font-size: $textoP;
            font-weight: 100;
        }
        span{
            width: 91%;
            font-size: $textoP;
            font-weight: 700;
        }
    }

    h6{
        text-align: end;
        cursor: pointer;
    }

    .copy{
        padding: 8px;
        background-color: $black;

    }
}

@media (width <= 760px){

    .container_main_aside{
        padding: 0;
    }

    header nav figure:first-child button{
        display: block ;
    }

    nav {
        display: none;
    }

}


@media (width <= 490px){

    .container_main_category article ul{
        display: block;
    }

}

