* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  font-family: 62.5%;
  background-color: #001c39;
  color: rgb(255, 255, 255);
}


.container-header {
  width: 100%;
  margin: 0px;
  height: auto;
  padding: 20px 10px;
}

header div{
  display: flex;
}


header div img {
  width: 100%;
  max-width: 300px;
}

.main {
  margin: 0px auto;
}

.main .container-article {
  display: inline-block;
  margin: 10px 0px;
  padding: 1rem;
}

.main .container-article div {
  position: relative;
}

.main .container-article img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: -3px -3px 15px rgb(44, 80, 158);
}

.main div .fade {
  position: fixed;
  width: 100%;
}

.main .container-parrafo {
  padding: 20px 2rem;
}

.main .container-parrafo .price {
  display: table;
  font-size: 1.3rem;
  margin: 5px;
}
